<div class="container-fluid landing">
  <div class="jumbotron text-center bg">
    <h1>We're open!</h1>

    <p class="lead">
        We are now officially here. <br/><br/>
        Grand Opening Special!<br/>
        15% All Services. Add-ons not included.
    </p>
      <div class="navline"></div>

    <div class="social">
      <a href="https://www.facebook.com/Soho-Nails-Spa-120369695292717/"  class="fb"><i class="fa fa-facebook-square fa-3x"></i></a>
      <a href="https://www.yelp.com/biz/soho-nails-and-spa-kerman-2" class="yelp"><i class="fa fa-yelp fa-3x"></i></a>
    </div>
  </div>
</div>


<div class="container-fluid bg-2">

  <div class="row">
    <div class="col-md-10 col-md-offset-1 col-xs-12">
      <h1 class="provide">We provide...</h1>
    </div>
    <div class="col-md-4 col-xs-12 h">
      <div class="ht">
        <h3>Mani/Pedis</h3>
        <div class="line"></div>
        <p>Enjoy a refreshing Pedicure and Manicure after a long day's work.</p>
      </div>
    </div>

    <div class="col-md-4  col-xs-12 h">
      <div class="ht">
        <h3>Artificial Nails</h3>
        <div class="line"></div>
        <p>If you need beautiful artistic sets of nails, come on in. Our techs will provide you nails with personality.</p>
      </div>
    </div>

    <div class="col-md-4 col-xs-12 h">
      <div class="ht">

        <h3>Waxing</h3>
        <div class="line"></div>
        <p>We'll help you clean out those unwanted hairs for a clean, refined look that'll make you confident.</p>
      </div>

    </div>

  </div>

</div>

<div class="container-fluid bg-4">
  <div class="row">
    <soho-select></soho-select>
  </div>
</div>

<div class="container-fluid bg-3">
  <div class="row">
    <div class="col-md-5 col-xs-12 phoneicon">
      <a href="tel:+15596144073" class="pnumber1"><i class="fa fa-phone-square fa-5x "></i></a>
      <h2>
        <a href="tel:+15596144073" class="pnumber">
            559.614.4073
          </a>
      </h2>
    </div>
    <div class="col-md-7 col-xs-12 phoneinfo">
      <div class="box">
        <h2>Make an appointment today.</h2>
        <h3>Call us for more info.</h3>

      </div>
    </div>
  </div>
</div>
