.perserviceInfo {
  padding: none;
  /* border: 1px solid white; */
}

.perserviceInfo h3 {
  color: #2F2F2F;
  display: inline-block;
  padding: 10px;
  font-size: 20px;
  width: 88%;
  font-family: 'Merriweather', serif;
  /* border: 1px solid white; */
}
.perserviceInfo h3:hover{
  cursor: pointer;
}
.perserviceInfo span{
  float: right;
  color: rgba(0, 171, 151, 1);
  font-size: 25px;

}
.perserviceInfo .changebutton {
  color: #2F2F2F;
  position: relative;
  padding: 20px 15px;
  display: inline-block;
  width: 10%;
  font-size: 25px;
  transition: .5s;
  /* border: 1px solid white; */
}
.perserviceInfo .changebutton:hover {
  color: white;
  background-color:#2f2f2f;
}
.perserviceInfo .actions {
  z-index: 900;
  display: none;
  position: absolute;
  /* border: 1px solid gray; */
  transition: .5s;
  padding: 15px;
  bottom: 6px;
  right: -116px;
  background-color: white;
}

.serviceDes {
  z-index: 1000;
  position: absolute;
  bottom: 0px;
  padding: 20px;
  color: white;
  width: 100%;
  height: auto;
  background-color: rgba(0,0,0,1);
}
.serviceDes h4{
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  color: white;
  padding-bottom: 10px;
  border-bottom: 1px solid white;
}

.serviceDes p{
  font-family: 'Montserrat',
  sans-serif;
  font-size: 12px;
  color: white;

}
.serviceDes .closebutton{
  color: red;
  float: right;
  padding: 10px;
  font-size: 15px;
  background-color: black;
  border: none;
  border-radius: 8px;
  transition: .5s;
}
.serviceDes .closebutton:hover{
  background-color: rgba(255,255,255,.7);
  color: black;
}

.serviceDes i.arrow {
  position: absolute;
  bottom: -20px;
}
